.container {
    width: 90%;
}

span {
  font-family:cursive;
}

.welcome {
  text-align: center;
}

.welcome_mes {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3, h4 {
  text-align: center;
}

.proj_span {
  font-style: italic;
}

#navbar{
  text-align: center;
}

#navbar ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid black;
}

#navbar li {
  float: left;
  margin: 20px;
}

#hobbies {
  text-align: center;
}

.panel-body a{
float: right;
color: red;
}