.screenshot {
  width: 100%;
  height: 250px;
  border: 2px solid white;
  margin-top: 5px;
}

.sectional {
  text-decoration: underline;
}

.project_title {
  text-align: center;
  font-weight: bold;
}

.project_div li {
  list-style: none;
  margin-top: 10px;
}

#notice {
  color: red;
}