body {
  background-color: #F5B27A;
  color: black;
}

a {
  color: #2D7D7D;
}

.navbar-inverse {
  background-color: #D0874B;
  background-image: none;
}

.navbar-inverse .navbar-brand {
  color: black;
}

.navbar-inverse .navbar-nav >li>a {
  color: black;
}

.screenshot {
  width: 100%;
  height: 250px;
  border: 2px solid black;
  margin-top: 5px;
}

.sectional {
  text-decoration: underline;
}

.project_title {
  text-align: center;
  font-weight: bold;
}

.project_div li {
  list-style: none;
  margin-top: 10px;
}

#notice {
  color: red;
}

#navbar {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.main_holder {
  margin-top: 50px;
}

.label {
  color: black;
  border: 1px solid black;
}

.label-php {
  background-color: purple;
  color: white;
}

.label-primary {
  background-color: #D0874B;
}

.label-html {
  background-color: #AA8439;
}

.label-api {
  color: white;
  background-color: #AD2A2A;
}

.label-db {
  background-color: #B0DBDB;
}

.panel-body {
  background-color: #FFE3CD;
}

.panel {
  border: 2px solid black;
}

.panel-info .panel-heading, .well{
  background-color: #FFCEA6;
  color: black;
}

footer {
  bottom: 0;
  right: 0;
  margin-right: 10px;
  padding: 5px 0px 0px 5px;
  position: fixed;
  font-size: 12px;
  background-color: #F5B27A;
  border-radius: 5px;
}

.expansion {
  height: 800px;
}